@import "./scss/theme";
@import "./scss/login";
@import "./scss/button";
@import "./scss/dashboard";
@import "./scss/card";
@import "./scss/app";
@import "./scss/artist";
@import "./scss/list";
@import "./scss/heading";
@import "./scss/search";
@import "./scss/completedPlaylist";
@import "./scss/loading";
@import "./scss/alert";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: theme-color("background");
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: theme-color("white");
}

.choice {
  margin: 1rem;
}

.center-text {
  text-align: center;
}
